#container {
   color: var(--cor-texto);
   position: sticky;
   top: 0;
   left: 0;
   height: 100vh;
   position: sticky;
   background-color: var(--nav-bg);
   border-right: var(--cor-borda) 1px solid;
   text-align: center;
}

#logo > img {
   width: 100%;
}

[tema="dark"] #logo > img {
   filter: invert(1);
}

#nav ul {
   padding: 0.7em;
   border-top: 1px var(--cor-borda) solid;
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
}

#nav ul > * {
   color: var(--cor-texto);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-size: 32px;
   padding: 10px;
}

.navAtivo {
   background-color: var(--cor-decoracao);
   transition: 0.5s;
   border-radius: 13px;
}

[tema="dark"] .navAtivo {
   color: black !important;
}

.darkLightCt {
   border: 1px #e1e3e1 solid;
   padding-block: 1.2rem !important;
   border-radius: 13px;
   cursor: pointer;
}

.darkLightCt > * {
   transition: all 0.2s ease-in-out;
}

.darkLightCt:hover > * {
   scale: 1.1;
}

#nav ul a p,
.langCt p {
   margin-top: 0.8em;
   font-size: 15px;
   font-weight: 400;
}

.langCt p {
   color: #868686;
}

.langCt span:hover,
.langAtivo {
   font-weight: 800;
   cursor: pointer;
   color: var(--cor-texto);
}

#logo {
   text-align: center;
}

#logo > img {
   margin-block: 1em;
   width: 70%;
   text-align: center;
}

@media screen and (max-width: 1440px) {
   #nav > ul {
      gap: 0.5rem;
   }
}

@media screen and (max-width: 1208px) {
   #container {
      opacity: 0;
      position: sticky;
      width: fit-content;
      transform: translateX(-200px);
      z-index: 10;
      transition: all ease-in-out 0.4s;
   }

   .ativo {
      transform: translateX(0) !important;
      opacity: 1 !important;
   }

   #nav > ul {
      padding-top: 2em;
      gap: 0.5rem;
   }

   .langCt {
      display: none !important;
   }
}

@media screen and (max-width: 1033px) {
   #nav > ul > a {
      font-size: 20px;
   }
}

@media screen and (max-width: 1033px) {
   #nav > ul > a {
      font-size: 20px;
   }
}

@media screen and (max-width: 551px) {
   #container {
      height: fit-content;
      border-radius: 0 0 7px 7px;
      padding-bottom: 0.5rem;
   }

   #nav > ul > a > p {
      font-size: 14px;
   }

   #nav ul {
      gap: 0.3rem;
   }
}

@media screen and (max-width: 450px) {
   #nav ul {
      padding-top: 1rem;
   }

   #logo > img {
      margin-bottom: 0;
   }
}

@media screen and (max-width: 380px) {
   #nav ul {
      gap: 0.7rem;
   }
}
